# .coveragerc
[run]
source =
    ibtool
    ibtool_tools
    helpers
    scripts
omit =
    */test/*
    */tests/*
    */__pycache__/*
    */build/*
    */dist/*
    */venv/*
    */.venv/*
    */resources.py
    */ui_*.py