[flake8]
max-line-length = 120
exclude =
    test/,
    ci/,
    resources.py,
    .git,
    __pycache__,
    Testdaten/,
    build/,
    dist/,
    IB-Tool2.py,
    test_import_mst.py,
    scripts/,
    plugin_upload.py
ignore = E203, W503
